@page "/Productos"

<PageTitle>Productos</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Productos</h1>

        @if(products == null)
        {
            <p><em>Loading...</em></p>
        }
        else if(hasError)
        {
            <p><em>Error: @errorMessage</em></p>
        }
        else
        {
            <button class="btn-primary m-2" @onclick="CreateProduct">Crear producto</button>
            <table class="table table-striped table-hover table-responsive ">
                <thead class="bg-primary text-white">
                    <tr>
                        <th>Referencia</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Cantidad</th>
                        <th>Precio Distribución</th>
                        <th>Precio Publico</th>
                    </tr>
                </thead>
                <tbody class="table-primary table-bordered">
                    @foreach (var product in products)
                    {
                        <tr>
                            <td style="cursor: pointer;"  @onclick="() => ProductNavigate(product.Id)">@product.Reference</td>
                            <td>@product.Name</td>
                            <td>@product.Category?.Name</td>
                            <td>@product.Quantity</td>
                            <td>@product.DistributionPrice</td>
                            <td>@product.RetailPrice</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
</AuthorizeView>