@page "/Salidas"

<PageTitle>Salidas</PageTitle>

<AuthorizeView>
	<Authorized>
		<h1 class="text-primary">Salidas</h1>

		@if (filteredOrders == null)
		{
			<p><em>Loading...</em></p>
		}
		else if (hasError)
		{
			<p><em>Error: @errorMessage</em></p>
		}
		else
		{
			<button class="btn-primary m-2" @onclick="CreateOrder">Crear Orden</button>
			<table class="table table-striped table-hover table-responsive ">
				<thead class="bg-primary text-white">
					<tr>
						<th>Id</th>
						<th style="cursor: pointer;" class="position-relative" @onclick="OpenDatePicker">
							@if (isDateFilterVisible)
							{
								<input class="form-control" type="date" @onchange="FiterDate" />
							}
							else
							{
								<div>Fecha</div>
							}
						</th>
						<th>Referencia</th>
						<th>Cliente</th>
						<th>Detalle</th>
						<th>Cantidad</th>
						<th>Costo</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody class="table-primary table-bordered" @onclick="TableClicked">
					@foreach (var orderItem in filteredOrders)
					{
						<tr>
							<td>@orderItem.Order.Id</td>
							<td>@orderItem.Order.CreateAt</td>
							<td>@orderItem.Product.Name</td>
							<td>@($"{orderItem.Order.User.Name} {orderItem.Order.User.LastName}")</td>
							<td>@orderItem.Detail</td>
							<td>@orderItem.Quantity</td>
							<td>@orderItem.UnitPrice</td>
							<td>@orderItem.TotalPrice</td>
						</tr>
					}
				</tbody>
			</table>
		}
	</Authorized>
</AuthorizeView>
